<!-- views/partials/head.ejs -->
<link rel="icon" type="image/png" href="/img/salad.png"/>
<meta charset="UTF-8">

<title>App Templates</title>

<link rel="stylesheet" href="/css/app.css" />
<link rel="stylesheet" href="/css/w3.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-toggle.min.css" />
<link rel="stylesheet" href="/css/bootstrap-icons.css" />
<link rel="stylesheet" href="/css/boxicons.min.css" />



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/action.js"></script>
<script src="/js/xuly.js"></script>
