<!-- Top container -->
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="/img/logo-vnpt.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
      </a>
    </div>
  </nav> -->